<div class="grid justify-content-center card">
    <div class="col-10">
        <p-card>
            <div class="p-grid">
                <div class="col-12 text-center">
                    <!-- <i class="fa-solid fa-laptop-code fa-4x"></i> -->
                    <h2>Qual nome deseja pesquisar?</h2>
                </div>
                <div class="col">
                    <!-- <label for="">Pesquisar:</label> -->
                    <input [(ngModel)]="requestLogin.login" class="col-10" type="text" pInputText />
                    <button (click)="doLogin()" pButton type="button" label="Pesquisar" class="col-2"></button>
                </div>
            </div>
        </p-card>
        <button (click)="ListarTodosObjetos()" pButton type="button" label="Listar Todos" class="col-2"></button>
    </div>
</div>